node_modules
_uploads
_site/uploads

.htaccess
.sass-cache
.jekyll-metadata
.asset-cache
npm-debug.log


.DS_Store
*.DS_Store

_blog
_authors
_events
_layouts
_elements
_needs
_resources
_includes
_fonts
_img
_favicons
bower_components
data
_config.yml
*.markdown

Gruntfile.js
gemfile
