// Resets & fonts

@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css"
@import "fonts.css"

// Sections

@import "vars.styl"
@import "type.styl"
@import "grid.styl"
@import "base.styl"
@import "nav.styl"
@import "photos.styl"
@import "footer.styl"
@import "blog.styl"

// TODO: Bad practice. Refactor when possible. Better ways to do this.

.mobile {
  display: block;
}
@media (min-width: 48em) {
  .mobile {
    display: none;
  }
}
.desktop {
  display: none;
}
@media (min-width: 62em) {
  .desktop {
    display: block;
  }
}