// CSS STUFF & FONTS

@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css"
@import "fonts.css"

// STYLUS FILES

@import "vars.styl"
@import "type.styl"
@import "grid.styl"
@import "base.styl"
@import "nav.styl"
@import "photos.styl"
@import "donate.styl"
@import "footer.styl"
@import "guides.styl"

// FIXES

.mobile
	display block
	@media tablet
		display none

.desktop
	display none
	@media laptop
		display block
