// Type & color

color-text=                 #000
color-red=                  #DC4405

typeface-primary=           GaramondNo4TLig, serif
typeface-primary-italic=    GaramondNo4TLig_Italic, serif
typeface-secondary=         CircularStdBook, sans-serif

// Breakpoint (matches flexboxgrid)

phone=                      "(min-width: 30em)"
tablet=                     "(min-width: 48em)"
laptop=                     "(min-width: 62em)"
desktop=                    "(min-width: 75em)"
bigscreen=                  "(min-width: 90em)"