<footer>

  <div class="row">
    <div class="BackToTop">Back to top</div>
    <div class="col-xs-12">
      <div class="bottomLine"></div>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>Emergency Hotline</h3>
      <p>If you are involved in the sex trade and would like to talk to someone, please call our 24-hour hotline:<br>
      —<br>
      <a class="number" href="tel:2064517378">206-451-REST (7378)</a></p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>General Inquiries</h3>
      <p><a href="mailto:info@iwantrest.com">info@iwantrest.com</a><br>
      —<br>
      <a target="_blank" href="https://www.google.com/maps/place/4215+Rainier+Ave+S,+Seattle,+WA+98118/data=!4m2!3m1!1s0x54906a7279baa43d:0x3900ad72411a23b0?sa=X&ved=0CBwQ8gEwAGoVChMIn5relqueyAIVyqSICh0cZg55">4215 Rainier Avenue S. Suite B<br>Seattle, Washington 98118</a><!-- , WA 98109 -->
      <br>
      <a href="tel:4253954691">(425) 395-4691</a>
      </p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <h3>Stay Connected</h3>
      <!-- <p>REST: Real Escape from the Sex Trade was founded in 2009 to build pathways of freedom, safety and hope for those exploited by the sex trade in the Seattle region.</p> -->
      <!-- <p>Newsletter signup</p> -->
      <p><a href="{{ site.newsletter_url }}" target="_blank" class="cta">Get the newsletter!</a></p><br>
      <span class="social">
        <a class="facebook" href="http://fb.com/wewantrest" target="_blank">Facebook</a>
        <a class="twitter" href="http://twitter.com/iwantrest" target="_blank">Twitter</a>
        <a class="linkedin" href="https://www.linkedin.com/company/real-escape-from-the-sex-trade" target="_blank">Linkedin</a>
      </span>
    </div>
  </div>

  <div class="row copyright">
    <div class="col-xs-12">
      <p class="small">
        <span>&copy; 2009 — 2015</span> Real Escape from the Sex Trade. &nbsp; &nbsp; &nbsp;
        <br class="mobile">
        <br class="mobile">
        <a href="{{ site.url }}/jobs">Jobs</a>
        &nbsp;|&nbsp;
        <a href="{{ site.url }}/needs">Needs</a>
        &nbsp;|&nbsp;
        <a href="{{ site.url }}/media">Media</a>
      </p>
       <!--  <br><br><br>
        <p><a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a></p> -->
    </div>

  </div>
</footer>
</body>

</html>
