{% include header.html %}

<section class="blog index">
  <div class="row heading">
    <div class="column col-xs-12 col-md-4">
      <div class="line"></div>
      <h1>{{ page.title }}</h1>
    </div>
    <div class="column col-xs-12 col-md-8 BlogContainer">
      <div class="row BlogItem" id="repeatme">
        {% for blog in site.blog reversed %}
        <div class="column post col-xs-12 linked BlogIndexItem">
          <h2><a href="{{ blog.url }}">{{ blog.title}}</a></h2>
          {% assign author = site.authors | where: 'name', blog.author | first %}
          {% if author %}
            <div class="BlogMeta">
            {% if author.photo %}
              <div class="BlogAuthorImage" style="background-image: url({{ author.photo }})"></div>
            {% endif %}
            <p class="small">Written by {{ author.title }} <Br class="mobile">on {{ blog.date | date: '%B %d, %Y' }}</p>
            </div>
          {% endif %}
          <p>
            {{ blog.content | strip_html | truncatewords: 50 }}
          </p>
          <p class="underlined"><a href="{{ blog.url }}">Read More</a></p>
        </div>
        <div class="BreakLine"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
