{% include header.html %}

<!-- Open Graph logic -->
{% if hasCustomOG %}
<!-- Facebook -->
<meta property="og:title" content="{{ page.og_title }}" />
<meta property="og:description" content="{{ page.og_desc }}" />
<meta property="og:image" content="{{ page.og_photo }}" />
<!-- Twitter -->
<meta name="twitter:title" content="{{ page.og_title }}">
<meta name="twitter:description" content="{{ page.og_desc }}">
<meta name="twitter:image" content="{{ page.og_photo }}">
{% else %}
<!-- Facebook -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.content | truncate: 100, '' }}" />
<!-- Twitter -->
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.content | truncate: 100, '' }}">
{% endif %}


<section class="blog detail">
	<div class="row heading ">
		<div class="column col-xs-12 col-md-4">
			<div class="line"></div>
			<p class="underlined BlogBack"><a href="{{ site.url }}/blog">Back to Blog</a></p>
		</div>
		<div class="column col-xs-12 col-md-8 BlogContainer">
			<h2 class="BlogTitle"><a href="{{ page.url }}">{{ page.title }}</a></h2>
			{% assign author = site.authors | where: 'name', page.author | first %}
			{% if author %}
				<div class="BlogMeta">
				{% if author.photo %}
					<div class="BlogAuthorImage" style="background-image: url({{ author.photo }})"></div>
				{% endif %}
				<p class="small">Written by {{ author.title }} <Br class="mobile">on {{ page.date | date: '%B %d, %Y' }}</p>
				</div>
			{% endif %}
			{{ content | markdownify }}
			<div class="social">
				<br><br><p></p>
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				<div class="fb-share-button" data-href="{{ page.url }}" data-layout="button_count"></div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="DonationCTA">
	<div class="row">
		<div class="column col-xs-12 col-md-5 col-md-offset-5">
			<h2>Would you give rest?</h2>
			<p>REST was founded in 2009 to build pathways of freedom, safety and hope for those exploited by the sex trade in the Seattle region. A huge part of our annual funding comes from individuals like you, who make our work possible through generous giving. Please consider a donation today.</p>
			<h3><a class="cta inverted" href="/donate">Donate Now</a></h3>
		</div>
	</div>
</section> -->

{% include footer.html %}
