{% include header.html %}

<section class="404">
	<div class="row noHeading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>Oh no.</h1>
			<br><br>
	 		<p>Looks like this page either moved or never existed in the first place.</p>
	 		<p class="underlined"><a href="http://iwantrest.com">Back to our home page</a></p>
	 		<br><br>
	 		<br><br>
	 		<br><br>
	 		<br><br>
	 		<br><br>
	 		<br><br>
	 		<br><br>
	 		<style>.BackToTop {display:none;}</style>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
