{% include header.html %}

<section class="home">
	<div class="featphoto"></div>
	<div class="featphoto"></div>
	<div class="featphoto"></div>
	<div class="row heading">
		<div class="column col-xs-12 col-md-11">
			<div class="line"></div>
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="column col-12-6 col-md-6 col-md-offset-6 OurGoal">
			<h2>Our goal is simple — freedom, safety, and hope to women & girls exploited by the sex trade.</h2>
			<p class="fpo">Each year, we provide direct services to hundreds of people exploited by the sex trade in Seattle and the greater King County area. Through our holistic continuum of care (prevention, intervention, and aftercare), we serve those who are at-risk, actively in, and those taking steps towards exiting a life of sexual exploitation.  Our desire is to see Washington become hostile to traffickers and to work ourselves out of a job. </p>
			<p class="underlined fpo"><a href="{{ siteUrl }}services">See how we work</a></p>
		</div>
	</div>
</section>

{% include footer.html %}
