{% include header.html %}

<section class="home">
	<div class="featphoto"></div>
	<div class="featphoto"></div>
	<!-- <div class="featphoto"></div> -->
	<div class="row heading">
		<div class="column col-xs-12 col-md-11">
			<div class="line"></div>
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="column col-12-6 col-md-6 col-md-offset-6 OurGoal">
			<h2>{{ page.section1_headline }}</h2>
			<p class="fpo">{{ page.section1_body }}</p>
			<p class="underlined fpo">
				<a href="{{ site.url }}{{ page.section1_cta_url }}">{{ page.section1_cta }}</a>
			</p>
		</div>
	</div>
</section>

<div class="site_prompt">
  <div class="site_prompt_content">
    <p>If you are experiencing hardship or dangerous situations due do the backpage.com shutdown, please reach out. <Br>There are resources for you. In Seattle? Call our hotline at <a href="tel:2064517378">(206) 451-7378</a>. Otherwise, click <a target="_blank" href="https://www.sextradesurvivorresources.com/">here</a>.</p>
  </div>
  <div class="site_prompt_close">
    <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="red" opacity=".01" d="M4 4h40v40H4z"/><g fill="#FFF"><path d="M29.17 17.857l.99.99L18.848 30.16l-.99-.99z"/><path d="M30.16 29.17l-.99.99-11.313-11.313.99-.99z"/></g></g></svg>
  </div>
</div>

{% include footer.html %}
