{% include header.html %}

<section class="services">
	<div class="featphoto"></div>
	<div class="row heading">
	  <div class="col-xs-12">
	    <div class="line"></div>
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row followup">
		<div class="column col-xs-12 col-md-7 col-md-offset-3">
			{{ page.section1_body | markdownify }}
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-6 ">
			<h2>{{ page.section2_headline }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2a_title }}</h3>
			<p>{{ page.section2a_body }}</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2b_title }}</h3>
			<p>{{ page.section2b_body }}</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2c_title }}</h3>
			<p>{{ page.section2c_body }}</p>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-6 ">
			<h2>{{ page.section3_headline }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section3a_title }}</h3>
			<p>{{ page.section3a_body }}</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section3b_title }}</h3>
			<p>{{ page.section3b_body }}</p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section3c_title }}</h3>
			<p>{{ page.section3c_body }}</p>
		</div>
	</div>
</section>

{% include footer.html %}
