{% include header.html %}

<section class="volunteer">
	<div class="featphoto"></div>
	<div class="row heading">
  	<div class="column col-xs-12">
    	<div class="line"></div>
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row followup">
		<div class="column col-xs-12 col-md-6">
			<h3>{{ page.section1a_title }}</h3>
			<p class="">{{ page.section1a_body }}</p>
		</div>
		<div class="column col-xs-12 col-md-6">
			<h3>{{ page.section1b_title }}</h3>
			<p>{{ page.section1b_body }}</p>
			<p class="underlined">
				<a href="{{ page.section1b_cta_link }}">
					{{ page.section1b_cta }}
				</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-9 col-md-offset-2">
				<h2>{{ page.section2_headline }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2a_title }}</h3>
				<p>{{ page.section2a_body }}</p>
				<p class="underlined"><a href="{{ page.section2a_cta_link }}" >{{ page.section2a_cta }}</a></p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2b_title }}</h3>
				<p>{{ page.section2b_body }}</p>
				<p class="underlined"><a href="{{ page.section2b_cta_link }}" >{{ page.section2b_cta }}</a></p>
		</div>
		<div class="column col-xs-12 col-md-4">
			<h3>{{ page.section2c_title }}</h3>
				<p>{{ page.section2c_body }}</p>
				<p class="underlined"><a href="{{ page.section2c_cta_link }}" >{{ page.section2c_cta }}</a></p>
		</div>
	</div>
</section>

{% include footer.html %}
